<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  
  <!-- HighChart Scripts -->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/highcharts-more.js"></script>
  <script src="https://code.highcharts.com/modules/funnel.js"></script>
  <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
  <!-- FullCalendar -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css"> -->
  <!-- FontAwesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
  <!--Favicons-->
  <link rel="apple-touch-icon" sizes="180x180" href="./favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./favicons/favicon-16x16.png">
  <!-- <link rel="manifest" href="./favicons/site.webmanifest"> -->
  <link rel="mask-icon" href="./favicons/safari-pinned-tab.svg" color="#777777">
  <link rel="shortcut icon" href="./favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-config" content="./favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>app_v1</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but app_v1 doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
      <!-- Dependency Scripts (jQuery v3.1.1 & Bootstrap v4 beta 3) -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="<%= BASE_URL %>js/bootstrap/bootstrap.bundle.min.js"></script>
  <!-- Plugins & Custom Scripts (concatenated and minified by GulpJS) -->
  <script src="<%= BASE_URL %>js/scripts.min.js"></script>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
