<template>
  <div class="hl_page-creator--section">
    <div class="hl_page-creator--actions">
      <div class="move-actions">
        <span data-tooltip="tooltip" data-placement="right" title="Up">
          <i class="icon icon-arrow-up-2"></i>
        </span>
        <span data-tooltip="tooltip" data-placement="right" title="Down">
          <i class="icon icon-arrow-down-2"></i>
        </span>
      </div>
      <div class="more-actions">
        <span data-tooltip="tooltip" data-placement="left" title="Settings">
          <i class="fas fa-cog"></i>
        </span>
        <span data-tooltip="tooltip" data-placement="left" title="Clone">
          <i class="far fa-eye"></i>
        </span>
        <span data-tooltip="tooltip" data-placement="left" title="Save">
          <i class="far fa-copy"></i>
        </span>
        <span data-tooltip="tooltip" data-placement="left" title="Delete">
          <i class="far fa-trash-alt"></i>
        </span>
      </div>
    </div>
    <span
      class="add-new-section"
      data-tooltip="tooltip"
      data-placement="bottom"
      title="Add New Section"
    >
      <i class="icon icon-plus" @click="add()"></i>
    </span>
    <div href="#" class="new-row-blank" v-if="section.row < 1">
      <div class="btn btn-light5 btn-slim" @click="showRowBar()">
        Add New Row
      </div>
    </div>
    <div v-for="(row, i) in section.row" :key="i">
      <newRow :sectionData="row" :id="i" :secId="id" />
    </div>
  </div>
</template>
<script>
import newRow from "./newRow.vue";
export default {
  components: {
    newRow
  },
  props: ["section", "id"],
  methods: {
    add() {
      this.$store.commit("addSec");
    },
    showRowBar() {
      // this.$store.commit("rowBar", { section: this.section, id: 0 });
      this.$store.commit("secID", this.id);
      this.$root.$emit("showRow");
    }
  }
};
</script>
<style scoped>
.hl_page-creator--section > .add-new-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #37ca37;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: -15px;
  z-index: 2;
  opacity: 0;
}
.hl_page-creator--section:hover > .add-new-section {
  opacity: 1;
}
.hl_page-creator--section > .new-row-blank {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 4px;
  background: rgba(24, 139, 246, 0.1);
  border: 1px solid rgba(24, 139, 246, 0.2);
  text-align: center;
  padding: 7px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
}
.hl_page-creator--section > .hl_page-creator--actions {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.hl_page-creator--section:hover > .hl_page-creator--actions {
  opacity: 1;
}
.hl_page-creator--section > .hl_page-creator--actions .move-actions {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.hl_page-creator--section > .hl_page-creator--actions .more-actions {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  height: 100%;
}
.hl_page-creator--section > .hl_page-creator--actions .move-actions span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #37ca37;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  font-size: 0.75rem;
  cursor: pointer;
}
.hl_page-creator--section > .hl_page-creator--actions .more-actions span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 25px;
  height: 25%;
  background-color: #37ca37;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  font-size: 0.75rem;
  cursor: pointer;
}
.hl_page-creator--section {
  padding: 30px;
  border: 2px solid transparent;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.hl_page-creator--section:hover {
  border-color: #37ca37;
}
</style>
