<template>
  <drop class="hl_page-creator--column">
    <div class="hl_page-creator--actions">
      <div class="more-actions">
        <span
          data-tooltip="tooltip"
          data-placement="top"
          @click="showSettings()"
          data-toggle="modal"
          data-target="#myModal2"
          title="Settings"
          ><i class="fas fa-cog" @click="showSettings()"></i
        ></span>
        <span data-tooltip="tooltip" data-placement="top" title="Clone"
          ><i class="far fa-eye"></i
        ></span>
        <span data-tooltip="tooltip" data-placement="top" title="Save"
          ><i class="far fa-copy"></i
        ></span>
        <span data-tooltip="tooltip" data-placement="top" title="Delete"
          ><i class="far fa-trash-alt"></i
        ></span>
      </div>
    </div>
    <!-- <span
      class="add-new-row"
      data-tooltip="tooltip"
      data-placement="bottom"
      title="Add New Row"
      ><i class="icon icon-plus" @click="showElem()"></i
    ></span> -->
    <div
      class="element-container"
      v-if="
        Object.entries(sectionData.elem).length === 0 &&
          sectionData.elem.constructor === Object
      "
    >
      <div href="#" class="new-element-blank">
        <div class="btn btn-light6 btn-slim button" @click="showElem()">
          Add New Element
        </div>
      </div>
    </div>
    <div class="element-container">
      <span v-html="sectionData.elem.outerHTML"></span>
    </div>
  </drop>
</template>
<script>
export default {
  props: ["sectionData", "id", "secId"],
  mounted() {
    this.$root.$on("addHeading", this.headingSec);
    this.$root.$on("addImage", this.imageSec);
  },
  methods: {
    showElem() {
      this.$store.commit("elementBar", { row: this.secId, col: this.id });
      this.$root.$emit("showElemRow");
    },
    showSettings() {
      this.$store.commit("elementSettings", {
        id: this.id,
        type: this.sectionData.elem.tagName
      });
    },
    headingSec() {
      this.$store.commit("elementBar", { row: this.secId, col: this.id });
      this.$root.$emit("addHeadingSec");
    },
    imageSec() {
      this.$store.commit("elementBar", { row: this.secId, col: this.id });
      this.$root.$emit("addImageSec");
    }
  },
  data() {
    return {
      isElement: false
    };
  }
};
</script>
<style scoped>
.element-container {
  text-align: center;
  width: 100%;
}
.element-container span {
  width: 100vw;
}
.hl_page-creator--column > .add-row-element {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 4px;
  background: rgba(255, 116, 2, 0.1);
  border: 1px solid rgba(255, 116, 2, 0.2);
  text-align: center;
  padding: 7px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
}
.hl_page-creator--column {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  padding: 25px;
  border: 2px solid transparent;
  -webkit-transform: translateX(2px);
  -ms-transform: translateX(2px);
  transform: translateX(2px);
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
}
.hl_page-creator--column:hover {
  border-color: #ff7402;
}
.hl_page-creator--column:hover > .hl_page-creator--actions {
  opacity: 1;
}
.hl_page-creator--column > .hl_page-creator--actions {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.hl_page-creator--column:hover > .add-new-element {
  opacity: 1;
}
.hl_page-creator--row.active > .hl_page-creator--column {
  border-color: #188bf6;
}
.hl_page-creator--column > .hl_page-creator--actions .more-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -25px;
  right: -2px;
  z-index: 2;
}
.hl_page-creator--column > .hl_page-creator--actions .more-actions span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 25px;
  height: 25px;
  font-size: 0.75rem;
  background-color: #ff7402;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
}
.hl_page-creator--column > .add-new-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ff7402;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: -12px;
  z-index: 2;
  opacity: 0;
}
.hl_page-creator--column > .add-new-element:hover {
  background: #e86800;
}
.hl_page-creator--row .new-element-blank {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 4px;
  background: rgba(255, 116, 2, 0.1);
  border: 1px solid rgba(255, 116, 2, 0.2);
  text-align: center;
  padding: 7px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
}
img,
.element-container {
  width: 100%;
}
</style>
