<template>
  <div class="container demo">
    <!-- Modal -->
    <div
      class="modal right fade"
      id="myModal2"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel2"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true" class="close-btn">&times;</span>
            </button>
            <h3 class="modal-title" id="myModalLabel2">Settings</h3>
          </div>

          <div class="modal-body">
            <div v-if="elType === 'H1'">
              <p>Input Text</p>
              <input type="text" v-model="value" placeholder="type here" />
              <br />
              <button type="button" @click="change()" class="button">
                Save
              </button>
            </div>
            <div>
              <div v-if="elType === 'IMG'">
                <div>
                  <p>Select Image</p>
                  <b-form-file
                    v-model="value"
                    placeholder="Choose a file..."
                    accept=".jpg, .png, .gif"
                    plain
                  ></b-form-file>
                  <button type="submit" class="button" @click="change()">
                    Save
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- modal-content -->
      </div>
      <!-- modal-dialog -->
    </div>
    <!-- modal -->
  </div>
  <!-- container -->
</template>
<script>
export default {
  data() {
    return {
      value: ""
    };
  },
  computed: {
    elType() {
      return this.$store.state.customEl.elemType;
    }
  },
  methods: {
    change() {
      this.$store.commit("editText", this.value);
      this.value = "";
      document.querySelector("#myModal2").classList.remove("show");
      document.querySelector(".modal-backdrop").classList.remove("show");
      document.querySelector(".modal-backdrop").classList.remove("fade");
      document
        .querySelector(".modal-backdrop")
        .classList.remove("modal-backdrop");
    }
  }
};
</script>
<style scoped>
.modal-header {
  background-color: #d2f1ff;
}
.close-btn {
  color: black;
}
.button {
  background-color: #ffffff;
  border: #000000 1px solid;
  color: #2a3135;
  border-radius: 2px;
  margin-top: 1rem;
}
p {
  font-size: 1.15em;
  color: #2a3135;
}
</style>
