<template>
  <section id="app">
    <left />
    <mainPage />
  </section>
</template>

<script>
import left from "./components/leftBar.vue";
import mainPage from "./components/mainPage.vue";
export default {
  name: "app",
  components: {
    mainPage,
    left
  }
};
</script>

<style>
@import "./assets/css/styles.min.css";
</style>
